body{
    height: 100vh;
    background: rgb(0,168,132);
    background: linear-gradient(0deg,  rgb(236, 229, 221) 85% ,  rgb(	18, 140, 126) 10%);
    }

.app{
    height: 90%;
    width: 80%;
}

#root{
    height: 100%;
}

/* side part */
.side-part{
    background-color: white;
    height: 100%;
}

/* profilo */
.img-container{
    width: 100px;
}

.bg-lightgray{
    background-color: #EAEAEA;
}
.circle{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.text-lightgray{
    color: #b1b1b1;
}

/* notifiche */
.notifiche{
    background-color: #8edafc; 
    padding: 1rem;
}
.noti-icon{
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: #8edafc; 
    align-items: center;
    display: flex;
    justify-content: center;
}
.noti-text{
    font-size: 14px;
}
.noti-link{
    font-size: 13px;
}
/* search */
.search-container{
    background-color: #fafafa;
    border: 2px solid #f5f5f5;
}

/* contatti */
.contact-list{
    overflow: auto;
}
