body{
    height: 100vh;
    background: rgb(0,168,132);
    background: linear-gradient(0deg,  rgb(236, 229, 221) 85% ,  rgb(	18, 140, 126) 10%);
    }

i{
    color: gray;
}

.app{
    height: 90%;
    width: 80%;
}

#root{
    height: 100%;
}

/* side part */
.side-part{
    background-color: white;
    height: 100%;
    border-right: 1px solid gray;
    min-width: 25%;
    overflow-y: auto;
}

/* profilo */
.img-container{
    width: 100px;
}

.bg-lightgray{
    background-color: #EAEAEA;
}
.circle{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.text-lightgray{
    color: #b1b1b1;
}

/* notifiche */
.notifiche{
    background-color: #8edafc; 
    padding: 1rem;
}

.fa-bell-slash{
    color: #8edafc;
    font-size: 20px;
}

.noti-icon{
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: #8edafc; 
    align-items: center;
    display: flex;
    justify-content: center;
}
.noti-text{
    font-size: 14px;
}
.noti-link{
    font-size: 13px;
}
/* search */
.search-container{
    background-color: #fafafa;
    border: 2px solid #f5f5f5;
}

/* contatti */
.overflow{
    overflow-y: scroll;
}

.last-msg{
    font-size: 10px;
    white-space: nowrap;
    color: #b1b1b1;
}

.date{
    font-size: 10px;
    color: #b1b1b1;
    align-self: flex-end;
    white-space: nowrap;
}

.selected{
    background-color: lightgray;
}

/*chatbox*/
.top-part{
    height: 70px;
}
.chatbox{
    background-image: url('/assets/img/mine.jpg');
    overflow-y: auto;
    height: calc(100% - 120px)     ;
}

.message{
    border-radius: 15px;
}

.sent{
    background-color: #d5f9ba;
    align-self: end;
}

.recieved{
    background-color: white;
    align-self: flex-start;
}

/* bottom part */
.user-input{
    background-color: #f5f5f5;
    height: 50px;
}